--extra-index-url https://nx3-cideveloper.ipp.openshift.locawebcorp.com.br/repository/pypi-ipiranga/simple/
Flask==1.0
Flask-API==1.0
Flask-RESTful==0.3.6
mock==2.0.0
gunicorn==19.9.0
pytest==3.0.7
PyYAML==3.12
jsonschema==2.6.0
python-dateutil==2.8.0
ipp-rest-utils==0.0.2

flask_sqlalchemy==2.3.2
psycopg2-binary==2.8.4
marshmallow==2.14.0
marshmallow-sqlalchemy==0.17.0
flask_marshmallow==0.8.0

apm-utils[elastic-apm]
